name: validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  pypower:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    
    - name: Install packages
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Analyse code
      run: |
        pip install pylint
        cd resstock
        pylint --fail-under 9 *.py

    - name: Run tests
      run: |
        cd tests
        pip install ..
        python3 tests.py
